<section class="section">
  <h1 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Recent Projects
  </h1>

  {% for project in site.projects %}
    <h2>{{ project.title }}</h2>
    <p class="metadata">
      <span class="type">{{ project.type }}</span>{% if project.date %}, <span class="date">{{ project.date | date: '%B %Y' }}</span>{% endif %}
    </p>
    <p class="content">{{ project.content  | markdownify }}</p>
  {% endfor %}

</section>