{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">
  <a class="anchor" name="publications"></a>
  <h2 class="section-title">
    <i class="fas fa-file-alt"></i>
    Publications
  </h2>

  {% for category in publications %}
    <h3>{{ category[0] }}</h3>
    <ul class="list-unstyled">
      {% for publication in category[1] %}
        <li>
          <span class="publication-authors">{{ publication.authors }}:</span>
          {% if publication.link %}
            <a target="new" href="{{ publication.link }}" title="{% if publication.doi %}{{publication.doi}}: {% endif %}{{ publication.title }}">{{ publication.title }}</a>;
          {% else %}
            <span>{{ publication.title }};</span>
          {% endif %}
          <span class="publication-conference">{{ publication.conference }}</span>{% if publication.download %},
            <a target="new" href="/assets/{{ publication.download }}" title="Download PDF: {{ publication.title }}">PDF download</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}


</section><!--//section-->
{% endif %}
