/* Green variables */
$theme-color: #4D6E12;
$text-color: #000;

$content-width: 600px; 
$sidebar-width: 320px;

$spacing_rhythmUnit: 1.5rem;
$typography_fontSize: 16px;
$typography_bold: 700;
$typography_normal: 400;

html {
    font-size: $typography_fontSize;
    font-weight: $typography_normal;
    // Demonstrate the vertical rhythm at 12px
    // background-image: linear-gradient(#eee 1px, transparent 1px);
    // background-size: 100% 12px; 
}

body {
    line-height: 1.5rem;  
    padding: 0;
    margin: 0;
}
  
/* Aligns to 72px */
h1 {
    font-size: 2.25rem;
    line-height: 1.16666666666;
    margin-bottom: 30px; 
}

/* Aligns to 72px */
h2 {
    font-size: 1.875rem;
    line-height: 1.2;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem; 
}

/* Aligns to 48px */
h3 {
    font-size: 1.5rem;
    line-height: 1.25;
    padding-top: 0.75rem;
margin-bottom: 0.375rem; 
}

/* Aligns to 36px */
h4 {
    font-size: 1,3125rem;
    line-height: 1.3333333;
    padding-top: 0.75rem;
    margin-bottom: 0.5rem; 
}

/* Aligns to 36px */
h5 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    margin-bottom: 0,5625rem; 
}

/* Aligns to 36px */
h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0,5625rem;
    margin-bottom: 0,1875rem; 
}

p {
    margin-bottom: 0.75rem; 
}

h1, h2, h3,
h4, h5, h6,
p {
    margin-top: 0; 
}

// Misc set up stuff
h1, h2, h3,
h4, h5, h6 {
    font-family: Helvetica Neue, sans-serif; 
}

body {
    font-family: Georgia, serif; 
}

small, .text_small {font-size: 0.833em;}

a {
    color: $theme-color;
    text-decoration: none;
    &:hover {
        color: lighten($theme-color, 15%);
        text-decoration: underline;
    }    
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0.75rem;
    padding-left:0; 
    list-style-position:inside; 
}

ul:not(.list-unstyled) {
    list-style-type: none;

    li:before {
        font-size: 1rem;
        content: '\025B8';
        margin-right: 8px;
    }    
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.sidebar {
    order: 2;
    width: $sidebar-width;
}

.sidebar-wrapper {
    position: fixed;
    top: 0;
    font-family: Helvetica Neue, sans-serif;
    width: $sidebar-width;
    margin-top: 3rem;

    a {
        color: #000        
    }

    a:hover {
        color: $theme-color;
        text-decoration: none;
    }

    .profile-container {
        padding: 1.5rem;
        text-align: center;
    }
    
    .tagline {  
        font-weight: $typography_normal;  
    }
    .profile {
        margin-bottom: 15px;
    }

    .avatar {
        //used for profile image
        margin: auto;
        display: block;
        width: 12rem;
        height: 12rem;
        border: 0px solid #fff;
        border-radius: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    .contact-list {
        .fas, .fab {
            margin-right: 5px;         
            vertical-align: middle;
        }
        li {
            margin-bottom: 0.75rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .container-block {
        padding: 1.5rem;
    }
    .container-block-title {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px; 
    }
}

.main-wrapper {
    padding: 1.5rem;
    padding-top: $spacing_rhythmUnit;
    max-width: $content-width;

    .metadata {
        margin-top: (-0.75rem);
        color: $theme-color;
        font-family: Helvetica Neue, sans-serif; 
        .type {
            font-weight: $typography_bold;
        }
        .date {
            font-style: italic;
        }
    }

    .abstract {
        font-style: italic;
        p:before {
            content: 'abstract\002014';
            font-weight: $typography_bold;
        }
    }

    .section-title {
        text-transform: uppercase;        
        color: $theme-color;
        
        font-size: 1.125rem;
        line-height: 1.5rem;
        padding: 0;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        // display: none; 

        .fas {
            margin-right: 12px;
        }
    }

    .section {
        margin-bottom: 3rem;
    }

    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 0.125rem;
        font-family: Helveitica Neue, sans-serif; 
    }
    .time {
        position: absolute;
        right: 0;
        top: 0;
    }
    .company, .university {
        margin-bottom: 0.625rem;
    }

    .publications-section {
        li {
            margin-bottom: 0.75rem;
        }
        .publication-title {
            font-size: 1rem;
            font-weight: $typography_bold;
        }
        .publication-authors {
            font-style: italic;
        }
    }
}

.footer {
    padding-top: 30px;
    .copyright {
        line-height: 1.6;
        font-size: 13px;
    }
}
