/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    body{
        padding: 0;
    }
    .wrapper {
        display: block;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar-wrapper {
        position: relative;
        width: inherit;

        .contact-container {
            padding-bottom: 0;
        }    
    }

    .main-wrapper {
        padding-top: 0;
        margin: 0;
        max-width: inherit;
    }

    .main-wrapper .time {
        position: static;
        display: block;
        margin-top: 5px;
        padding-top: 0;
    }

    .main-wrapper .upper-row {
        margin-bottom: 0;
    }

    #menu {
        display: none;

        li {
            display: block;
        }
    }

    .show-menu {
        display: block;
    }

    .nav-bar {
        display: block;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #menu {
        display: block;
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 0.75rem;
            }
            &:first-child {
                margin-left: -8px;
            }
        }
    }
    .show-menu {
        display: none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {

}
